<div class="sidebar">
    <img src="https://img.icons8.com/color/48/000000/circle.png" class="icon" />
    <img src="https://img.icons8.com/ios-glyphs/30/000000/home.png" class="icon" />
    <img src="https://img.icons8.com/ios-glyphs/30/000000/commercial.png" class="icon" />
    <img src="https://img.icons8.com/ios-glyphs/30/000000/3d-arcade.png" class="icon" />
    <img src="https://img.icons8.com/ios-glyphs/30/000000/stopwatch.png" class="icon" />
    <img src="https://img.icons8.com/ios-glyphs/30/000000/conference-call.png" class="icon" />
    <div class="spacer"></div>
    <img src="https://img.icons8.com/ios-glyphs/30/000000/settings--v1.png" class="icon" />
    <img src="https://img.icons8.com/ios-glyphs/30/000000/info.png" class="icon" />
    <div class="profile">
      <img src="https://randomuser.me/api/portraits/men/32.jpg" class="icon" />
      <div class="status-dot"></div>
    </div>
  </div>